@import "../../App.scss";

.itemBadge {
  z-index: 9;
  position: absolute;
  right: 9px;
  bottom: 9px;
  text-align: center;
  color: white;
  padding: 3px 6px;
  font-size: 12px;
}

.item {
  border: 1px solid $base-navbar;
  border-radius: 0.25rem;
  padding: 4px;
  img {
    opacity: 0.8;
  }
  @media (max-width: 767px) {
    border-right: 0px;
    border-bottom: 0px;
  }
}

.itemBadge {
  z-index: 9;
  position: absolute;
  right: 17px;
  bottom: 17px;
  text-align: center;
  color: white;
  padding: 3px 6px;
  font-size: 12px;
}

