$base-background: #122333;
$base-navbar: hsl(164, 100%, 44%);
$base-color: #fff;

html,
body,
#root {
  height: 100%;
}

body,
#root {
  display: flex;
  flex-direction: column;
  background-color: $base-background;
  color: $base-color;
}

.content {
  flex: 1 0 auto;
}

.swal2-popup {
  width: 25em;
  max-width: 100%;
  background: $base-background;
  border: 2px solid $base-navbar;
}

.swal2-title {
  padding: 1em ;
  color:  #fff;
  font-size: 1.25em;
}

.swal2-html-container {
  padding: 1em;
  padding-top: .25em;
  color: #fff;
  font-size: 1.25em;
}

.swal2-actions {
  margin: .1em auto 0;
  font-size: 1em;
}

.swal2-icon {
  margin: 1.5em auto .6em;
}