$base-background: #122333;
$base-navbar: hsl(164, 100%, 44%);
$base-color: #fff;

html,
body,
#root {
  height: 100%;
}

body,
#root {
  display: flex;
  flex-direction: column;
  background-color: $base-background;
  color: $base-color;
}

.content {
  flex: 1 0 auto;
}

.swal2-popup {
  width: 25em !important;
  max-width: 100% !important;
  background: $base-background !important;
  border: 2px solid $base-navbar !important;
}

.swal2-title {
  padding: 1em !important;
  color:  #fff !important;
  font-size: 1.25em !important;
}

.swal2-html-container {
  padding: 1em !important;
  padding-top: .25em !important;
  color: #fff !important;
  font-size: 1.25em !important;
}

.swal2-actions {
  margin: .1em auto 0 !important;
  font-size: 1em !important;
}

.swal2-icon {
  margin: 1.5em auto .6em !important;
}