$base-background: #122333;
$base-navbar: hsl(164, 100%, 44%);
$base-color: #fff;

html,
body,
#root {
  height: 100%;
}

body,
#root {
  display: flex;
  flex-direction: column;
  background-color: $base-background;
  color: $base-color;
}

.content {
  flex: 1 0 auto;
}

@keyframes animacion {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animated {
  animation-name: animacion;
}

.Toastify__toast-container {
  width: 400px !important;

}

.Toastify__toast {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif !important;
}